<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='changepassword.css') }}">
</head>
<body>
    <header>
        <div class="user-info">
            {% if user %}
                <p class="action-button">Welcome, {{ user.username }}!</p>
            {% else %}
                <p>Not logged in</p>
            {% endif %}
            <a href="{{ url_for('homepage') }}" class="action-button">Home</a>
            {% if user.is_superuser %}
                <a href="{{ url_for('addevent') }}" class="action-button">Add Event</a>
            {% endif %}
            {% if user.id == None %}
                <a href="{{ url_for('viewallevents') }}" class="action-button">View Event Details</a>
                <a href="{{ url_for('cancelled_events') }}" class="action-button">Cancelled Events</a>
            {% elif user.is_superuser or user %}
                <a href="{{ url_for('viewallevents') }}" class="action-button">View Event Details</a>
                {% if not user.is_superuser %}
                    <a href="{{ url_for('mytickets') }}" class="action-button">My Tickets</a>
                {% endif %}
                <a href="{{ url_for('cancelled_events') }}" class="action-button">Cancelled Events</a>
                <a href="{{ url_for('change_password') }}" class="action-button">Settings</a>
            {% endif %}
            {% if user.is_superuser %}
                <a href="{{ url_for('transaction_log') }}" class="action-button">Transaction Log</a>
            {% endif %}
            
        </div>
        {% if user.id != None %}
        <form method="post" action="{{ url_for('logout') }}">
            <button type="submit" class="logout-button">Logout</button>
        </form>
        {% else %}
        <form method="post" action="{{ url_for('login') }}">
            <button type="submit" class="logout-button">Login</button>
        </form>
        {% endif %}
    </header>

    <main>
        <h1>Profile</h1>
        {% if user and user.is_superuser == False %}
            <p>This is the attendee profile for: {{user.username}}</p>
            <p>Email Address:  {{user.email}}</p>
        {% endif %}
        {% if user and user.is_superuser == True %}
            <p>This is the superuser profile for: {{user.username}}</p>
            <p>Email Address:  {{user.email}}</p>
        {% endif %}
        {% if user.id == None %}
            <p>This is a guest user</p>
        {% endif %}
        
        <h2>Change Password</h2>
    <form method="post">
        <label for="current_password">Current Password:</label>
        <input type="password" name="current_password" required><br>

        <label for="new_password">New Password:</label>
        <input type="password" name="new_password" required><br>

        <label for="check_new_password">Repeat New Password:</label>
        <input type="password" name="check_new_password" required><br>

        <button type="submit">Change Password</button>
    </form>
    {% with messages = get_flashed_messages() %}  
            {% if messages %}  
                {% for message in messages %}  
                    <p>{{ message }}</p>  
                {% endfor %}  
            {% endif %}  
        {% endwith %}
    </main>
</body>

</html>

