<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='viewallevents.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
</head>

<body>
    <header>
        <div class="user-info">
            {% if user %}
                <p class="action-button">Welcome, {{ user.username }}!</p>
            {% else %}
                <p>Not logged in</p>
            {% endif %}
            <a href="{{ url_for('homepage') }}" class="action-button">Home</a>
            {% if user.is_superuser %}
                <a href="{{ url_for('addevent') }}" class="action-button">Add Event</a>
            {% endif %}
            {% if user.id == None %}
                <a href="{{ url_for('viewallevents') }}" class="action-button">View Event Details</a>
                <a href="{{ url_for('cancelled_events') }}" class="action-button">Cancelled Events</a>
            {% elif user.is_superuser or user %}
                <a href="{{ url_for('viewallevents') }}" class="action-button">View Event Details</a>
                {% if not user.is_superuser %}
                    <a href="{{ url_for('mytickets') }}" class="action-button">My Tickets</a>
                {% endif %}
                <a href="{{ url_for('cancelled_events') }}" class="action-button">Cancelled Events</a>
                <a href="{{ url_for('change_password') }}" class="action-button">Settings</a>
            {% endif %}
            {% if user.is_superuser %}
                <a href="{{ url_for('transaction_log') }}" class="action-button">Transaction Log</a>
            {% endif %}
            
        </div>
        {% if user.id != None %}
        <form method="post" action="{{ url_for('logout') }}">
            <button type="submit" class="logout-button">Logout</button>
        </form>
        {% else %}
        <form method="post" action="{{ url_for('login') }}">
            <button type="submit" class="logout-button">Login</button>
        </form>
        {% endif %}

    </header>
    <h1>All Events</h1>

    {% with messages = get_flashed_messages() %}  
        {% if messages %}
        <div class="view-event">
           {% for message in messages %}  
                <p>{{ message }}</p>  
            {% endfor %} 
        </div>
        {% endif %}  
    {% endwith %}

    {% if events %}
    {% if user %}
        {% for event in events %}
            {% if event.is_cancelled == false %}
            <div class="view-event">
                <h2>{{ event.name }}</h2>
                <p>Date: {{ event.date }}</p>
                <p>Start Time: {{ event.start_time }}</p>
                <p>Duration: {{ event.duration }} minutes</p>
                <p>Capacity: {{ event.capacity }}</p>
                <p>Location: {{ event.location }}</p>
                
                <div class="remaining">
                {% if user and not user.is_superuser %}
                    {% set remaining_capacity = event.capacity - tickets_allocated(event.id) %}
                    {% set full = false %}
                    {% if remaining_capacity > 0 %}
                        {% if remaining_capacity / event.capacity < 0.051 %}
                            <p>Last {{ remaining_capacity }} spaces</p>
                        {% endif %}
                    {% else %}
                        {% set full = true %}
                        <p>FULL</p>
                    {% endif %}
                {% endif %}
                </div>


                {% if user.is_superuser %}
                    <form method="post" action="{{ url_for('remove_event', event_id=event.id) }}">
                        <button type="submit" id="cancel-event">Cancel Event</button>
                    </form>

                
                    <form method="post" action="{{ url_for('modify_capacity', event_id=event.id) }}">
                        <label for="new_capacity">New Capacity:</label>
                        <input type="number" id="new_capacity" name="new_capacity" required>
                        <button type="submit" class="modify-capacity">Modify Capacity</button>
                    </form>

                {% endif %}

                {% if user and not user.is_superuser and not full and user.id != None %}
                    {% set user_tickets = tickets_allocated_user(event.id, user.id) %}
                    {% if user_tickets < 5 %}
                    <form method="post" action="{{ url_for('get_ticket', event_id=event.id) }}">
                        <button type="submit" class="modify-capacity" id="get-ticket">Get Event Ticket</button>
                    </form>
                    {% else %}
                    <p> You have reached 5 tickets for this event this is the maximum tickets per user</p>
                    {% endif %}
                {% endif %}

            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% else %}
        <p class="check-ticket">There are no available events currently more will be added shortly!</p>
    {% endif %}
    



</body>

</html>
